aside{
	height: 1000px;
	background: #2a2e3d;
	color: #fff;
	float: left;
	width: 260px;
	padding-left: 45px;
	padding-top: 18px;
	box-sizing: border-box;
}
.user_header_pic{
	display: inline-block;
	width: 58px;
	height: 58px;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: 0 -84px;
	margin-right: 18px;
}

.username{
	position: absolute;
	top: 93px;
	font-size: 12px;
	font-weight: bold;
	margin-left: 18px;
}
.userfocus{
	margin-top: 25px;
	margin-left: 18px;
}
.userfocus div{
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	color: #576477;
	line-height: 3px;
}
.userfocus .shoucang{
	padding-right: 31px;
	border-right:2px solid #313545;
}
.userfocus .fans{
	padding-left: 31px;
}
aside{
	color: #6e8095;
	text-decoration:none ;
	line-height: 40px;
}
aside .report_form{
	list-style-image: url(../img/sprite1.png);
}
aside .file1{
	list-style-image: url(../img/sprite2.png);
}
aside .file2{
	list-style-image: url(../img/sprite3.png);
}
aside .file2-1{
	list-style-image: url(../img/sprite4.png);
}
aside .file2-2{
	list-style-image: url(../img/sprite5.png);
}
aside .baobiao{
	color:white;
}
aside .collection{
	list-style-image: url(../img/sprite6.png);
}
aside .share{
	list-style-image: url(../img/sprite7.png);
}
aside .map_storage{
	list-style-image: url(../img/sprite6.png);
}
aside .growth{
	list-style-image: url(../img/sprite6.png);
}
aside .account_info{
	list-style-image: url(../img/sprite8.png);
}