article{
	overflow: hidden;
	background-color: #eeeeed;
}
article nav{
	background-color: white;
	height: 30px;
	line-height: 30px;
	font-size: 11px;
	padding-left: 15px;
}
article nav a{
	padding-right: 15px;
	padding-left: 15px;
	border-right: 1px solid;
	text-decoration: none;
	color: #b7b7b7;
}
article section{
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 20px;
	background-color: white;
}

article .search{
	height: 84px;
	padding-top: 15px;
	box-sizing: border-box;
	padding-left: 30px;
}
article .search .chaxun{
	display: inline-block;
	margin-right: 38px;
}
article .search .chaxun .selec{
	width: 121px;
}
article .search .chaxun .sell{
	position: relative;
	top: 30px;
	left: -170px;
}
article .search .chaxun .change{
	position: relative;
	top: 15px;
	left: -160px;
}
